/* -----------------------------
        font are here 
-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* --------------------------
    common style are here 
-----------------------------*/

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
}
/* -----------------------------
    banner style are here 
-----------------------------*/

.header-banner{
    background-color: #2D25A0;
    padding: 80px 0;
}
.banner{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}
.banner .banner-title{
    width: 485px;
    height: 230px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    transition: .5s;
}
.banner .banner-title:hover{
    line-height: 75px;
    margin-left: 40px;
}
.banner-info button{
    padding: 10px 24px;
    width: 168px;
    height: 44px;
    background: #E02C6D;
    color: white;
    border: none;
    margin-left: 40px;
    transition: 1s;
}
.banner-info button:hover{
    background: #3DBAFD;
    color: #2D25A0;
    font-weight: bold;
    border-radius: 5px;
}
.banner-img img{
    width: 556.01px;
    height: 438px;
    cursor: pointer;
    transition: .5s;
}
.banner-img img:hover{
    transform: skew(-5deg, 5deg);
}

/*-----------------------------
     all players css here 
-----------------------------*/

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
    width: 1135px;
    margin: 70px auto;
}
.player{
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}
.player-info{
    width: 300px;
    height: 154px;

}
.player img{
    width: 300px;
    height: 256px;
    transition: .5s;
    opacity: .85;
    cursor: pointer;
}

.player-img:hover img{
    transform: scale(1.1);
    opacity: 1;
}
.player-img {
    overflow: hidden;
}
.player h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    transition: .5s;
}
.player:hover h1{
    transform: translate(20px);
    color: #2D25A0;
}
.player p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* -----------------------------
    news feed style are here 
-----------------------------*/

.news-feed{
    background: #3dbafd1f;
    margin-bottom: 40px;
    padding: 80px 0;
}
.news-feed h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #2D25A0;
    text-align: center;
    margin-top: 0;
}
.all-news{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 60px;
}
.news{
    display: flex;
    flex-direction: row;
    height: 413px;
    width: 620px;
    margin: 0 auto;
}
.news img{
    width: 615px;
    height: 400px;
    position: absolute;
    box-shadow: -10px 10px 15px #7d7d7de0;
    z-index: 1;
    cursor: pointer;
    transition: 1s;
}
.single-news:hover img{
    transform: translate(-49%, 0);
}
.news p{
    width: 565px;
    height: 370px;
    font-size: 20px;
    text-align: justify;
    position: relative;
    z-index: 0;
    transition: 1s;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    margin: 0;
    padding: 15px;
    align-items: center;
    display: flex;
}
.news .brazil{
    border-image: linear-gradient(#065DFF,#ffff26);
    border-image-slice: 1;
    border-left: 7px solid;
}
.single-news:hover p{
    transform: translate(60%, 0);
}

/* -----------------------------
    footer css style here 
-----------------------------*/

footer{
    margin: 88px 0;
}
.full-footer{
    width: 483.87px;
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.footer-social-icon img{
    height: 32px;
    width: 32px;
}
.copywrite p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}


/* -----------------------------
responsive css style are here 
-----------------------------*/

@media only screen and (max-width: 688px){

    /*-----------------------------
     for header part responsive 
     -----------------------------*/

    .banner .banner-title{
        width: 278px;
        height: 138px;
        font-size: 36px;
        line-height: 50px;
    }
    .banner-info button{
        width: 168px;
        height: 44px;
        margin-left: 15px;
        padding: 5px 15px;
    }
    

    .banner-img img{
        width: 329px;
        height: 259.17px;
        margin-top: 50px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 535px;
    }

    /*-----------------------------
     for players part responsive 
     -----------------------------*/

    .players{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    /*----------------------------- 
        news part responsive
    ----------------------------- */

    .news-feed h1{
        /* font-family: Poppins;
        font-style: normal;
        font-weight: bold; */
        font-size: 36px;
        line-height: 30px;
        /* color: #2D25A0;
        text-align: center;
        margin-top: 0; */
    }
    .news img{
        width: 360px;
        height: 296px;
        /* position: absolute; */
        box-shadow: -10px 10px 15px #7d7d7de0;
        /* z-index: 1; */
        cursor: pointer;
        /* transition: 1s; */
    }
    .news p{
    width: 350px;
    font-size: 15px;
    text-align: justify;
    /* position: relative; */
    /* bottom: 10px; */
    /* z-index: 0;
    transition: 1s; */
    border-left: 0;
    border-top: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    margin: 0;
    padding: 5px;
    /* overflow: hidden; */
    }
    .news .brazil{
        border-image: linear-gradient(#065DFF,#ffff26);
        border-image-slice: 1;
        border-top: 5px solid;
        border-left: 0;
    }
    .single-news:hover img{
        transform: translate(0);
    }
    .single-news:hover p{
        transform: translate(0);
    }


    /*----------------------------- 
        footer part responsive
    ----------------------------- */

    .full-footer{
        width: 300px;
        height: 180px;
    }
    .footer-logo img{
        width: 100%;
        height: 100%;
    }
    .footer-social-icon img{
        height: 30px;
        width: 30px;
    }

}